name: bookhive-backend

services:
  bookhive-api-blue:
    container_name: bookhive-api-blue
    image: bookhive-api:bluegreen
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000
      DATABASE_URL: "${DATABASE_URL:?DATABASE_URL is required}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    init: true
    networks:
      - bookhive_backend_net
    volumes:
      - ./database.json:/app/database.json

  bookhive-api-green:
    container_name: bookhive-api-green
    image: bookhive-api:bluegreen
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000
      DATABASE_URL: "${DATABASE_URL:?DATABASE_URL is required}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    init: true
    networks:
      - bookhive_backend_net
    volumes:
      - ./database.json:/app/database.json

networks:
  bookhive_backend_net:
    name: bookhive_backend_net
    driver: bridge
